
.filter_button{
    background-color: #ececec;
    color:black;
    border-color: transparent;
}
.filter_button:hover{
    background-color: #ececec;
    color:black;
    border: 1px solid black;
}
.filter_button:focus{
    background-color: black ;
    color:white;
    border: 1px solid black;
    box-shadow: none;

}
